pip install ipfs-api==0.2.3 --user
pip install numpy==0.19.2 --user
pip install matplotlib==3.5.3 --user
pip install pycryptodome==3.18.0 --user
pip install Django==2.1.17 --user
pip install web3==4.7.2 --user
pip install urllib3==1.22 --user
pip install requests==2.28.1 --user
